

<div class="w3-col w3-container m4 l3 " style="margin-top: 10px;">
<div class="card" >
    <img src="assets/images/img_avatar3.png" alt="Avatar" style="width:10%">
    <div class="container">
      <h4><b>{{this.user.name}}</b></h4>
      <p>{{ this.user.email }}</p>
    </div>
  </div>
</div>