<ul>
    <li><a routerLink="" >Home</a></li>
    <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
    <li><a routerLink="/posts" routerLinkActive="active">Posts</a></li>
    <li style="float:right"><a class="active" href="#about">About</a></li>
  </ul>

  